# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.log
model/*.json

# Modèles
*.h5
*.tflite
results/

# Données
test
data
data/raw/
data/processed/

# Environnements
.env
.venv/
env/
venv/
data_split/
preprocessing_output/
logs/